body {
  font-family: Helvetica, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
  padding: 2px 60px;
}

h1 {
  font-family: Helvetica, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
}

div {
  padding-top: 10px;
  padding-bottom: 10px;
}
#students p span {
font-weight: bold;
}
